<div class="container">
  <div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-3">
      <h5 class="mt-3 font-weight-bold text-primary">クリエイター情報編集</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <%= form_with model: @creator, url: private_creator_path(@creator.id), method: :patch, local: true do |f| %>
      <table class="table">
        <tr>
          <th>ペンネーム</th>
          <td><%= f.text_field :penname %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email %></td>
        </tr>
        <% f.hidden_field :is_active, value: true %>
      </table>
      <div class='btn-toolbar mt-3' role="toolbar">
        <div>
          <%= f.submit '編集内容を保存', class:"btn btn-success" %>
        </div>
      <% end %>
        <div class="col-3 d-flex align-items-end justify-content-end">
          <%= link_to "退会する", creators_check_path, class: "btn btn-danger", "data-confirm" => "本当に退会しますか？" %>
        </div>
      </div>
    </div>
  </div>
</div>