<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <h4 class="body text-primary">クリエイターログイン</h4>
      <% if @creator.errors.any? %>
        <%= @creator.errors.count %>件のエラーが発生しました
        <ul>
          <% @creator.errors.full_messages.each do |message| %>
            <li class="alert alert-danger"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-9">
    <%= form_with model: @creator, url: creator_session_path, local: true do |f| %>

      <div class="field">
        <%= f.label :penname %><br />
        <%= f.text_field :penname %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>

