<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-3">
      <h4 class="daimei"><%= @creator.penname %>さんの情報編集</h4>
    </div>
  </div>
  <div class="bigbox1">
    <table class="table tablebox">
      <tr>
        <th>クリエイターID</th>
        <td><%= @creator.id %></td>
      </tr>
      <%= form_with model:@creator, url: admin_creator_path(@creator.id), method: :PATCH, local:true do |f| %>
        <tr>
          <th>ペンネーム</th>
          <td><%= f.text_field :penname %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "有効", {value: true, style: "display: inline-block;"} %>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, "退会", {value: false, style: "display: inline-block;"} %>
        </td>
      </tr>
    </table>
    <div class="action">
      <%= f.submit '変更を保存' %>
    </div>
    <% end %>
  </div>
</div>